.product-description {
  font-size: 16px;
}

.cart {
  margin-top: 10px;
  padding: 0 40px;
}

.product {
  margin-bottom: 10px;
  padding: 20px;
  background: #8ecae6;
}

.cart-products {
  font-size: 16px;
}
